<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <style>
        body { margin: 0; font-family: sans-serif; background: #000; color: #ffeb3b; }
        #map { height: 70vh; width: 100%; }
        .controls { padding: 20px; text-align: center; }
        input { padding: 15px; width: 80%; border-radius: 25px; border: none; margin: 10px; }
    </style>
</head>
<body>
    <div id="map"></div>
    <div class="controls">
        <input type="text" id="destino" placeholder="¿A dónde vamos hoy en San Juan?">
        <button onclick="pedirMoto()" style="padding: 15px 40px; border-radius: 25px; background: #ffeb3b; font-weight: bold;">PEDIR MOTO</button>
    </div>

    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
    <script>
        // Coordenadas fijas en San Juan de los Morros
        var map = L.map('map').setView([9.914, -67.362], 15);
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png').addTo(map);
        
        function pedirMoto() {
            alert("Buscando motorizado disponible en San Juan de los Morros...");
        }
    </script>
</body>
</html>
